
.add-dialog
  text-align: left
  max-width: 1024px
  min-height: 400px
  .title
    padding: 1em

  .food-name
    border: none
    color: #B92B27 !important
    font-weight: bold
    margin-left: 1em
    font-size: 1.5em
    width: 100%

  .food-name:focus
    border-color: #B92B27 !important

  .right-column
    padding-top: 5em
    padding-right: 1em

  .buttons
    text-align: center

  .upload-placeholder-container
    padding-top: 5%
    padding-left: 15%
    padding-right: 15%
    text-align: center
    img
      padding-top: 20%
      padding-bottom: 20%
