
.ReactModal__Overlay
  background-color: rgba(0, 0, 0, 0.75) !important

.ReactModal__Content
  border: 0 !important
  margin: 0 auto
  max-width: 1200px

.food-card-detail
  background: rgba(0,0,0,0) !important

.food-card-detail-image
  display: block
  margin-left: auto
  margin-right: auto

.food-card-detail-comments
  border-color: grey
  overflow-y: scroll

.food-card-detail-comments-box
  width: 90% !important
  margin-left: 1.3em
  margin-right: 1.3em

.food-card-image-container
  background: rgba(0,0,0,0.4)
