
.food-card
  background: black

.food-card-title
  vertical-align: middle
  color: white
  margin-left: 1em
  font-weight: bolder

.food-card-subtitle
  vertical-align: middle
  color: white
  margin-left: 1em

.food-card-image
  background-size: 100%
  background-color: black
  text-align: center
