
.food-card
  text-align: center
  overflow: hidden

.food-card-progress
  height: 350px
  vertical-align: middle
  text-align: center

.food-card-title
  letter-spacing: 0.08em
  vertical-align: middle
  color: white
  font-size: 1.2em

.food-card-subtitle
  vertical-align: middle
  color: white
