
.ReactModal__Overlay
  background-color: rgba(0, 0, 0, 0.75) !important

.ReactModal__Content
  border: 0 !important
  margin: 0 auto
  max-width: 1024px

.food-card
  text-align: left
  margin-top: 1em

  .title
    h1
      font-size: 1.5em
    small
      font-size: 0.8em
    line-height: 1em
    background:  black
    color: white
    display: block
    padding-left: 1em
    padding-bottom: 1em

  .comments
    border-color: black
    overflow-y: auto

  .toolbar
    text-align: right

  .comments-box
    *
      color: black !important
    textarea
      width: 90%
      border-color: #dadada
      border-radius: 0
  img
    display: block
    margin-left: auto
    margin-right: auto
