
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500)
@import ../node_modules/purecss/build/pure-min

@import "food-card.sass"
@import "add-dialog.sass"

.title
  text-align: left

body
  margin: 0 auto
  background-color: #212121 
