
@import 'node_modules/sass-material-colors/sass/sass-material-colors'
@import ../vendor/normalize
@import ../vendor/skeleton
@import food-card.sass
@import add-dialog.sass
@import landing.sass

@font-face
  font-family: 'delphiniiaromanitalic'
  src: url('../assets/font-webfont.eot')
  src: url('font-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/font-webfont.woff2') format('woff2'), url('../assets/font-webfont.woff') format('woff'), url('../assets/font-webfont.ttf') format('truetype'), url('../assets/font-webfont.svg#delphiniiaromanitalic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GillSansMT'
  src: url('../assets/GillSansMT.eot?#iefix') format('embedded-opentype'),  url('../assets/GillSansMT.woff') format('woff'), url('../assets/GillSansMT.ttf')  format('truetype'), url('../assets/GillSansMT.svg#GillSansMT') format('svg')
  font-weight: normal
  font-style: normal

*
  font-family: "GillSansMT"

html, body
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%
  height: auto
  background: #fafafa

header
  background: #B92B27
  border-top: 3px solid #890B07
  text-shadow: 1px 1px 1px #555
  font-size: 16px !important

input:focus
  border-color: #B92B27

textarea:focus
  border-color: #B92B27

header span
  text-shadow: 1px 1px 1px #555
  text-transform: none !important

footer
  height: 4em
  margin-top: -4em
  text-align: center
  background: #B92B27
  padding-top: 2em
  padding-bottom: 2em
  width: 100%
  box-shadow: 0px 500px 0px 500px #B92B27

footer span
  text-shadow: 1px 1px 1px #555
  text-transform: none !important
  color: white !important

textarea
  border: rgba(0,0,0,0.05) solid 0.5px
  width: 100%
  resize: none

.show-more
  .material-icons
    font-size: 72px !important
  text-align: center

.button-icon
  padding-top: 0.3em

.button-text
  padding-right: 2em

.footer-bar
  max-width: 1024px
  margin: auto
  color: white
  text-shadow: 1px 1px 1px #555

.footer-bar div
  text-align: left

.footer-div
  text-align:left

.footer-div a
  color: white
  text-shadow: 1px 1px 1px #555

.footer-div a:hover
  cursor: pointer
  text-decoration: underline

.login-div
  height: 60px
  line-height: 60px

.login-div a
  color: white

.login-div a:hover
  cursor: pointer
  text-decoration: underline

.login-button
  height: 60px

.login-button span
  padding: 0px !important

.title
  margin: 0 auto
  background: inherit

.container
  max-width: 1024px
  margin-bottom: 4em

.context-bar
  h1
    color: #bb2920
    font-size: 2em
  padding-top: 2em

.limit-width
  margin: 0 auto
  max-width: 1024px

.loading-spinner
  margin:20px
  text-align: center

.navbar
  max-width: 1024px

.navbar-add
  float:left

.navbar-menu
  height: 60px
  text-align: center

.navbar-search
  height: 55px
  padding-top: 5px

.navbar-user-status
  height: 60px
  text-align: right

.user-menu *
  color: white !important

.single-food
  margin-top: 2em

.fb-like
  color: white !important
